.mdi--icon {
    display: inline-block;
    border-radius: 2px;
    position: relative;
}
.mdi--icon:hover {
    background-color: rgba(0,0,0,0.08);
}
    .mdi--icon--link {
        width: 132px;
        height: 132px;

        box-sizing: border-box;
        text-decoration: none !important;
        text-decoration-line: none !important;
    
        display: inline-block;
        cursor: pointer;
    }
        .mdi--icon--preview {
            fill: rgba(255, 255, 255, 0.87) !important;

            width: 48px;
            height: 48px;

            padding: 24px 42px 0;
            pointer-events: none;
        }
        .mdi--icon--caption {
            font-size: 12px;
            line-height: 16px;
            padding: 16px 24px 28px;
            margin: 0;

            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            text-decoration: none !important;
            text-decoration-line: none !important;
            color: rgba(255, 255, 255, 0.87);

            pointer-events: none;
        }
    .mdi--icon--bookmark {
        float: right;
        display: none;
        margin: 8px;

        position: absolute;
        top: 0; right: 0;

        width: 16px;
        height: 16px;
        padding: 4px;

        fill: rgba(255, 255, 255, 0.24);
        cursor: pointer;
    }